<section class="my_profile">
  <div class="container">
    <div class="setting_blocks">
      <div class="setting_title">
        <h3>Settings</h3>
      </div>
      <div class="setting_body">
        <div class="email"><span class="user_icon"></span> Dummyemail@Company.com</div>
        <p>Admin and revise your profile.</p>
      </div>
    </div>

    <div class="setting_blocks">
      <div class="setting_title">
        <h3><span class="auncements_icon"></span>  AnnoAuncements</h3>
      </div>
      <div class="setting_body">          
      </div>
    </div>

    <div class="setting_blocks">
      <div class="setting_title">
        <h3> Two Factor Authentication </h3>
      </div>
      <div class="setting_body">   
        <div class="two_factor_auth tbl_div">
          <div class="two_factor_auth_left tbl_cell">
            <p>Two-Factor Authentication provides anothe layer of security to your account</p>       
          </div>                  
          <div class="two_factor_auth_right text-right tbl_cell">
            <button class="blue_btn">Enable</button>
          </div>
        </div>
      </div>
    </div>

    <div class="setting_blocks">
      <div class="setting_title">
        <h3> Api Tokens </h3>
      </div>
      <div class="setting_body">   
        <div class="two_factor_auth tbl_div">
          <div class="two_factor_auth_left tbl_cell">
            <p>Create and manage your API tokens.</p>       
          </div>                  
          <div class="two_factor_auth_right text-right tbl_cell">
            <button class="blue_btn">Go</button>
          </div>
        </div>
      </div>
    </div>

    <div class="setting_blocks">
      <div class="setting_title">
        <h3>Upload Documents</h3>
      </div>
      <div class="setting_body">     
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 upload_doc_sec">
            <div class="upload_doc text-center">
              <div class="unverified"><span class="cross"><i>&times;</i></span>Unverified</div>
              <h3><span>Step 1</span> - Phone Number</h3>
              <p>Update your Phone Number</p>
              <button class="blue_btn">Add Phone Number</button>
            </div>
          </div> <!--./upload_doc_sec-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 upload_doc_sec">
            <div class="upload_doc text-center">
              <div class="unverified"><span class="cross"><i>&times;</i></span>Unverified</div>
              <h3><span>Step 2</span> - Profile</h3>
              <p>Fill in personal information</p>
              <button class="blue_btn">Add Phone Number</button>
            </div>
          </div> <!--./upload_doc_sec-->
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 upload_doc_sec">
            <div class="upload_doc text-center">
              <div class="unverified"><span class="cross"><i>&times;</i></span>Unverified</div>
              <h3><span>Step 3</span> - Document ID</h3>
              <p>Provide Identity Document for KYC Purpose </p>
              <button class="blue_btn">Add Phone Number</button>
            </div>
          </div> <!--./upload_doc_sec-->    
        </div>
      </div>
    </div>

    <div class="setting_blocks change_pass">
      <div class="setting_title tbl_div">
        <div class="tbl_cell setting_title_left">
          <h3>Change Password</h3>
        </div>
        <div class="tbl_cell text-right setting_title_right">
          <button class="blue_btn">Change Password</button>
        </div>
      </div>
    </div>
      
  </div>
</section>