
/* Fonts*/
$base-font:'Muli', sans-serif;


/* color */
$base: #0093d6;
$base2: #f1f6fa;
$hdrbase: #f6f9fc;
$drkgrey: #1d1a1a;
$drkgrey2: #333333;
$white: #ffffff;
$fdwhite: #fdfdfd;
$grytext: #a9a19f;
$greybrdr: #e2e2e2;
$lgt-grytxt: #616161;
$lgt-grytxt2: #999999;
$lgt-gry: #ebebeb;
$lgt-gry2: #eeeded;
$lgt-gry3: #e0e0e0;
$black: #131111;
$lgtgreen: #bbeea7;
$green: #6fda44;
$drkgreen: #4abf19;
$greentext: #3fac13;
$blue: #226a89;
$grytxt: #3d3d3d;
$green2: #64d735;
$lgtgrey: #ececec;
$fbcolor: #415dae;
$fbdark: #2c4693;
$black:#3d3d3d;
