<footer class="footer" id="footer">
  <div class="container-fluid quick_links">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 quick_links_block">
          <ul>
            <li>
              <a href="javascript:void(0)">Trade </a>              
              <a href="javascript:void(0)">Orders </a>
              <a href="javascript:void(0)">P2P </a>
              <a href="javascript:void(0)">Buy Crypto </a>
              <a href="javascript:void(0)"> Funds </a>
              <a href="javascript:void(0)"> Support </a>
              <a href="javascript:void(0)"> Login </a>
              <a href="javascript:void(0)"> Sign up</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-right quick_links_block">
          <ul>
            <li>
              <a href="javascript:void(0)"><span class="white_txt">24h Volume:</span>   </a>              
              <a href="javascript:void(0)"> 2,967.61 <span class="white_txt">BTC</span>  </a>
              <a href="javascript:void(0)"> 31,012.31 <span class="white_txt"> ETH </span>   </a>
              <a href="javascript:void(0)"> 25,166,203.92 <span class="white_txt"> USDT </span> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center copyright">
    <div class="container">
      <p>© 2018 Cezex.io | All rights reserved</p>
    </div>
  </div>
</footer>